<aside class="example-aside">
	<h3>Listing Details:</h3>
      <!-- <div id="example-container" class="result-container">
        <a id="title-ex" class="result-title" href="#">Title</a> 
        <h3 id="category-ex" class="result-category">Category</h3>
        <p id="tags-ex" class="category-tags">Tags | Tags | Tags | Tags | Tags</p>
        <p id="location-ex" class="results-location">Some City, ST</p>
        <p id="phone-ex" class="results-phone">555.555.5555</p>
      </div> -->
<div class="result-container example-container">
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="title-ex-data"><a id="title-ex-detail" class="result-title" href="#">Bob's Towing - Auto Service</a></td>
          </tr>
	          <tr><td id="tags-ex-detail" class="category-tags">Towing | Roadside Assistance | Inspection | Repairs | Maintenance</td></tr>
	          <tr><td id="location-ex-detail" class="result-location">Pittsburgh, PA - Shadyside</td></tr>
	          <tr><td id="phone-ex-detail" class="result-phone">555.555.5555</td></tr>
      </tbody>
    </table>
  </div>
  </aside>