<aside id="example-aside">
	<h3>Search Result:</h3>
      <!-- <div id="example-container" class="result-container">
        <a id="title-ex" class="result-title" href="#">Title</a> 
        <h3 id="category-ex" class="result-category">Category</h3>
        <p id="tags-ex" class="category-tags">Tags | Tags | Tags | Tags | Tags</p>
        <p id="location-ex" class="results-location">Some City, ST</p>
        <p id="phone-ex" class="results-phone">555.555.5555</p>
      </div> -->
<div class="result-container" id="example-container">
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        
          <tr><td><a id="title-ex" class="result-title" href="#">Bob's Towing</a></td></tr>
          
	          <tr><td id="category-ex" class="result-category">Auto Service</td></tr>
	          <tr><td id="tags-ex" class="category-tags">Towing | Roadside Service | Auto Repair | Jumping</td></tr>
	          <tr><td id="location-ex" class="result-location">Pittsburgh, PA</td></tr>
	          <tr><td id="phone-ex" class="result-phone">555.555.5555</td></tr>
        
      </tbody>
    </table>
  </div>
  </aside>