  <%= fields_for :service, @service do |f| %>
  
  		<% if custom == nil %>	
      		<td class="col-1-label"><%= f.label field %></td>

      	<% else %>
      		<td class="col-1-label"><label><%= custom.to_s %></label></td>
      	<% end %>
      <td><%= f.text_field field, id: field%></td>
  <% end %>