<p>Welcome to Looking2, a unique internet directory that allows the LISTERS to create listings using their choice of key words or terms and LOOKERS to sort search results by location and/or description.</p>

<p>Looking2 is free for LOOKERS and dirt-cheap for LISTERS. I am looking2 ...</p>
<%= link_to "FIND A LISTING", pages_search_path %><br/>
<%= link_to "CREATE A LISTING", pages_list_path %>